{% macro cmf_menu(items, level) %}
    {% import _self as cmf_menu %}

    {% for item in items %}

            {% if item.hasChildren %}
                <div class="item">
                    <div class="header">{{ item.label|trans }}</div>
                    <div class="menu">
                        {{ cmf_menu.cmf_menu(item) }}
                    </div>
                </div>
            {% else %}
                <a class="item" href="{{ item.uri }}">
                    {{ item.label|trans }}
                </a>
            {% endif %}

    {% endfor %}
{% endmacro %}
{% import _self as cmf_menu %}

{{ cmf_menu.cmf_menu(knp_menu_get('cmf_main')) }}
